{% load static %}
 <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="http://10.20.7.53:85/polls/student/lessons/">
              <span data-feather="home"></span>
              课程时间查询 <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="http://10.20.7.53:85/polls/student/statistics/">
              考勤信息查询
            </a>
          </li>
            <li class="nav-item">
            <a class="nav-link active" href="http://10.20.7.53:85/polls/student/changepsw/">
              修改密码
            </a>
          </li>

        </ul>
      </div>
    </nav>
