{% extends 'base.html' %}

{% block content %}

<div class="page-header">
  <h1>课时安排——<small>{{ lesson_obj }}</small></h1>
</div>


<head>
</head>
<body>


<div class="list-group">

    <div class="row mb-4">
      <div class="col-4 themed-grid-col">上课时间</div>
      <div class="col-4 themed-grid-col">下课时间</div>
     </div>

        {% for lesson in lessons %}
 <div class="row mb-4">
      <div class="col-4 themed-grid-col">{{ lesson.timebegin }}</div>
      <div class="col-4 themed-grid-col">{{ lesson.timeend }}</div>
    </div>
        {% endfor %}
</div>
</body>
<style type="text/css">
    .list-group{opacity:0.7;background:white}
</style>

{% endblock %}
